<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAebTyyzNyk81Vu_L7EGVSShugqlMZTPhg</string>
	<key>GCM_SENDER_ID</key>
	<string>524882370781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMomentumApp</string>
	<key>PROJECT_ID</key>
	<string>momentum-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>momentum-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524882370781:ios:bd4bd0e0745adab7c8bb34</string>
</dict>
</plist>